<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonationServlet</servlet-name>
        <servlet-class>DonationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveToCSV</servlet-name>
        <servlet-class>SaveToCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveToDBAndCSV</servlet-name>
        <servlet-class>SaveToDBAndCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pickuprequestservlet</servlet-name>
        <servlet-class>pickuprequestservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonationServlet</servlet-name>
        <url-pattern>/DonationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveToCSV</servlet-name>
        <url-pattern>/SaveToCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveToDBAndCSV</servlet-name>
        <url-pattern>/SaveToDBAndCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pickuprequestservlet</servlet-name>
        <url-pattern>/pickuprequestservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <dependency>
        <groupId>org.apache.poi</groupId>
        <artifactId>poi-ooxml</artifactId>
        <version>5.2.3</version>
    </dependency>
</web-app>
